@model PieAddViewModel

<h2>Create a new pie</h2>
<hr />

<form method="post" asp-controller="Pie" asp-action="Add">

    <div class="mb-3">
        <label asp-for="Pie.Name" class="form-label"></label>
        <input asp-for="Pie.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Pie.ShortDescription" class="form-label"></label>
        <textarea asp-for="Pie.ShortDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Pie.LongDescription" class="form-label"></label>
        <textarea asp-for="Pie.LongDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>


    <div class="mb-3">
        <label asp-for="Pie.AllergyInformation" class="form-label"></label>
        <textarea asp-for="Pie.AllergyInformation" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>



    <input type="submit" value="Add pie" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Pie" asp-action="Index">Back to overview</a>
</div>